

/* =============================================================================
#TYPOGRAPHY
============================================================================= */
h3, p {
  font-family: "Montserrat",Arial, Helvetica, sans-serif;
}

h3 {
  font-style: normal;
  font-weight: 500;
}

h1 {
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
}

/* =============================================================================
#CONTENT
============================================================================= */
body {
    background-color: hsl(30, 38%, 92%);
  }